@model GolfBag

<h1>Golfbag Id: @Model.Id</h1>

<p>Player: @Model.Player</p>

<p>Capacity: @Model.Capacity</p>

<p>Clubs in Golfbag @Model.Id</p>

<ul>
    @foreach (var club in Model.Clubs)
    {
        <li>@club.Name</li>
    }
</ul>


